.header {
    height: 100px;
    color: white;
    background-color: #0000FF;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}